<header class="bs-docs-nav navbar navbar-static-top" id="top">
  <div class="container">
    <div class="navbar-header">
      <button aria-controls="bs-navbar" aria-expanded="false" class="collapsed navbar-toggle" data-target="#bs-navbar" data-toggle="collapse" type="button" id="nav-icon1">
          <span></span>
          <span></span>
          <span></span>
       </button>
      <a href="/" class="navbar-brand"><img src="images/logo.png" alt="logo"/></a> </div>
    <nav class="collapse navbar-collapse" id="bs-navbar">
      <ul class="nav navbar-nav navbar-right">
     
        <li class="active"> <a href="../getting-started/">About Us</a> </li>
        <li> <a href="#">Business loans</a> </li>
        <li> <a href="#">Credit cards</a> </li>
        <li> <a href="#">How it work</a> </li>
        <li> <a href="#">FAQ,s</a> </li>
        <li> <a href="#">Contact Us</a> </li>
        <li class="sign-in-reg">
        	<a href="/login" class="signin">Sign in</a> 
            <a href="Javascript:;" id="register" class="regiter btnRegister">Register</a>
        </li>
        <li class="english"><a href="#"><i><img src="images/english.png" alt="english"/></i></a><span class="caret"></span></li>
      </ul>
      
    </nav>
  </div>
  </header>